*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

.home{
    width:100%;
    height:100%;
    background-color: beige;
    background-position: center;
    background-size: cover;
}
.nav-links a:hover{
    background-color: red;

}
a:link {
    color: blue;
  }
  a:visited {
    color: green;
  }
    
.logo-image img{
    width:340px;
    height:300px;
    margin-left:-100px;
    margin-top: -100px;
    padding: 2% 6%;
    position:absolute;

}
.nav-links{
    justify-content: space-between;
    text-align: right;
    position: relative;
    padding: 2% 6%;

}
.nav-links li{
    list-style-type: none;
    display:inline-block;
    padding: 3% 3%;
}
.food{
    min-height: 1px;
    padding-right: 25px;
    padding-left: 50px;

}
.food img{
    width: 450px;
    height:60vh;
    margin-left:100px;
    margin-top: 115px;

}
.food-header{
    margin-top: -350px;
    display: block;
    text-align: center;
    margin-left: 300px;
}   
button{
   cursor: pointer;
   display: inline-block;
   border-radius: 0;
   font-family: inherit;
   width: 150px;
   background-color:indianred;
}
.workout{
    padding-right: 15px;
    padding-left: 15px;
}

.workout-header{
    margin-top: -350px;
    display: block;
    text-align: center;
    margin-left: 500px;
}
.workout img{
    width: 450px;
    height:50vh;
    margin-left:140px;
    margin-top: 250px;
    margin-right: auto;
}

.panel img{
    width: 450px;
    height:50vh;
    margin-left:160px;
    margin-top: 250px;
}
.panel-header{
    margin-top: -250px;
    display: block;
    text-align: center;
    margin-left: 500px;

}
.videos h1{
    text-align: center;
    margin-top: 250px;
}
iframe{
    margin-left: 450px;
}



